 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


/*  **** HEADER SECTION STARTS ***** */



header{
    height: 100vh;
    position: relative;
    width: 100%;
}

.main-nav{
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("img/nav-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.logo{
   color: white;
   font-size: 45px;
   font-weight: 700;
   padding-left: 35px;
}


.logo span{
    font-size: 55px;
    font-weight: 900;
    animation:deepak 3s ease infinite;
}


/* logo animation starts */

@keyframes deepak{
    0%, 100%{

        color: aqua;
        text-shadow: 5px 10px 20px aqua;
    }

    5% {
        color: #ff00ff;
        text-shadow: 5px 10px 20px #ff00ff;
    }

    20%{
        color: #ff0000;
        text-shadow: 5px 10px 20px #ff0000;
    }


    40%{
        color: #fbff00;
        text-shadow: 5px 10px 20px #fbff00;
    }
}

/* logo animation ends */


/** header auto-typing styling starts  **/

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.auto-font{
    font-size: 50px;
    color:rgb(83, 21, 251);
     font-weight: 900;
     
}



/** header auto-typing styling ends  **/







/*  **** HEADER SECTION ends ***** */



 /* css styling section starts */



/* header navigation button styling strats */

.navbar a {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    line-height:3;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
 .navbar a:hover::before {
    transform: scaleX(1);
   
  }


  .navbar a:hover{
    cursor: pointer;
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

/* header navigation button styling ends  */


.button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 1.5em;
    display: inline-block;
    border: none;
    border-radius:6rem;
    font-size: 15px;
    font-weight: 400;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    
   }
   
   .button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }


   /* css button section ends*/




   /** ABOUT SECTION STARTS **/

   #about-section{
       text-align: center;
       height: 100vh;
   }

   #about-section h2{
    padding-top: 150px;

  text-transform: uppercase;

   }



   /** ABOUT SECTION ENDS **/




   /** SKILLS SECTION STARTS **/

 #skills-section{
    height: 100vh;
    text-align: center;
    margin-bottom: 100px;
 }


 #skills-section h2{
    font-size: 45px;
    padding-top: 150px;
    text-transform: uppercase;

 

}


#skills-section h3{
    font-size: 20px;
}




   /** SKILLS SECTION ENDS **/



   /** PROJECTS SECTION STARTS **/


#projects-section{
    height: 100vh;
   
}



#projects-section h2{
    padding-top: 150px;
}

   /** PROJECTS SECTION ENDS **/